body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff7f9;
}

nav {
  background: #ff4f8b;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  height: 90vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)),
              url("https://i.imgur.com/67eQe7O.jpeg") center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  background: #ff4f8b;
  padding: 12px 25px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 600;
}

.content {
  padding: 50px;
  text-align: center;
}

.msg {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.gallery img {
  width: 250px;
  border-radius: 10px;
}
