html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: black;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.section {
    height: 100vh;
    padding-top: 120px;
    text-align: center;
    font-size: 28px;
}

/* LOGIN MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
